html {
    background-color: #fefefe;
}

body {
    font-family: arial, sans-serif;
    font-size: 13px;
}
div.container {
    width: 500px;
    margin-left: 30%;
    margin-right: 30%;
}

section {
    position: absolute;             
   top: 45%;                        
   transform: translate(0, -50%);
   width: 40%;
   margin-left: auto;
   margin-right: auto;
}

#logo{
    margin-bottom: 30px;
    margin-left: 30%;
    margin-right: 30%;
}

#srch {
float: left;
margin-left: 28%;
}

#luck {
float: right;
margin-right: 28%;
}

.bu {
    border-radius: 2px;
    background: #eeeeee;
    color: #757575;
    font-size: 13px;
    font-weight: 700;
    border: none;
    margin: 4px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

#searchbox {
    width: 100%;
    box-shadow: 2px 2px 2px 2px #dddddd;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
}

.bu:hover {
    border: 5px #888888;
    background-color: #cccccc;
 }

 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    color: #888888;
    font-size: 16px;
}

table {
    border: none;
}

td {
    padding-left: 10px;
    padding-right: 4px;
    font-size: 13px;
    padding-bottom: 5px;
}

.la{
    float: left;
    padding-left: 1%;
}

.ra {
    float: right;
    padding-right: 1%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

p {
    margin-left: 20px;
}